<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

</ion-content> -->
<ion-header>
  
    <ion-title>
      Test API IONIC
    </ion-title>
  
</ion-header>
<ion-content >
  <h1>hola</h1>
 
  <div *ngFor="let post of arrayPosts">
   <!--  <p>{{post.title}}</p> -->
  
    <ion-label position="floating">{{post.Nombre}}</ion-label>
    <ion-label position="stacked">{{post.Contrasena}}</ion-label>
  </div>
</ion-content>
